python-dotenv==0.17.1
scikit-learn==0.24.1
pandas==1.2.4
numpy==1.19.5
fastapi==0.63.0
uvicorn==0.13.4
requests
pyyaml
heart_disease_common @ git+https://github.com/made-ml-in-prod-2021/exotol@homework1_fix#egg=heart_disease_common&subdirectory=common_artifacts